<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.iyb.mapper.BoardMapper">
	<!-- sql 문장 : 세미콜론 지우고 복붙하기-->
  	<insert id="write">
  		  <!-- 추상메소드명 -->
  		<!-- sql에서 확인 후 작성 -->
  		insert into board(title,content,writer)
		value(#{title},#{content},#{writer})
  	</insert>
  	<select id="list" resultType="org.iyb.domain.BoardDTO"><!-- resultType: 어디에 저장해서 return할 것인지 -->
  	<!-- 데이터베이스 표 처럼 저장 됨. -->
  		select*from(
				select @rownum:=@rownum+1 as rownum, b.*
				from (select @rownum:=0) as tmp, board as b
		  	 <choose><!-- mybatis의 switch문이다. -->
		  	 	<when test="search == null">
			      where 1=1
			    </when>
			    <when test="search == 't'.toString()">
			      where title like concat('%',#{keyword},'%')
			    </when>
			   	<when test="search == 'c'.toString()">
			      where content like concat('%',#{keyword},'%')
			    </when>
			    <when test="search == 'w'.toString()">
			      where writer like concat('%',#{keyword},'%')
			    </when>
			    <when test="search == 'tc'.toString()">
			      where title like concat('%',#{keyword},'%') 
			      or content like concat('%',#{keyword},'%')
			    </when>
			    <otherwise>
			      where title like concat('%',#{keyword},'%') 
			      or content like concat('%',#{keyword},'%') 
			      or writer like concat('%',#{keyword},'%')
			    </otherwise>
			</choose>
		) as boardList
		<![CDATA[ 
			where rownum > (#{pageNum}-1)*#{amount} 
			and rownum <= #{pageNum}*#{amount};
		]]> 
		<!--  크기 비교 연산자와 태그의<>를 구분을 못함  CDATA : 크기 비교 연산자와 태그의<>를 구분을 해주기 위해 필요 -->
  	</select>
  	
  	<select id="detail" resultType="org.iyb.domain.BoardDTO">
  	<!-- 데이터베이스 표 처럼 저장 됨. -->
  		select*from board where bno=#{bno}
  	</select>
  	<update id="cntupdate">
  		update board
		set cnt = cnt + 1
		where bno=#{bno}
  	</update>
  	<update id="modify">
  		update board
		set title=#{title}, 
			content=#{content}, 
			regdate=now()
		where bno=#{bno}
  	</update>
  	<delete id="remove">
  		delete from board where bno=#{bno}
  	</delete>
  	<select id="getTotalCount" resultType="int"><!-- 전체 데이터총량의 타입 -->
  		select count(*) from board
  		<choose><!-- mybatis의 switch문이다. -->
	  	 	<when test="search == null">
		      where 1=1
		    </when>
		    <when test="search == 't'.toString()">
		      where title like concat('%',#{keyword},'%')
		    </when>
		   	<when test="search == 'c'.toString()">
		      where content like concat('%',#{keyword},'%')
		    </when>
		    <when test="search == 'w'.toString()">
		      where writer like concat('%',#{keyword},'%')
		    </when>
		    <when test="search == 'tc'.toString()">
		      where title like concat('%',#{keyword},'%') 
		      or content like concat('%',#{keyword},'%')
		    </when>
		    <otherwise>
		      where title like concat('%',#{keyword},'%') 
		      or content like concat('%',#{keyword},'%') 
		      or writer like concat('%',#{keyword},'%')
		    </otherwise>
		</choose>
  	</select>
</mapper>